.sidebar{
    position: fixed;
    bottom: 0px;
    left: 0px;
    top: 55px;
    background-color:white;
    width: 72px;
    z-index: 200;
    cursor: pointer;
}

.sidebar-link 
{
    background-color: white;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover {
    background-color: rgb(238, 238, 238);
}
.sidebar-link img {
    height: 24px;
    width: 24px;
    margin-bottom: 6px;
    margin-top: 10px;
    
}
.sidebar-link div {
    font-size: 10px;
    
}